<div class="page-header">
<h3>303: Error with file upload</h3>
</div>
<script>
window.onkeydown = function(event) {
   if (event.keyCode === 32) {
      alert("Key 32 space pressed.");
   }
};
</script>
 <script>
window.onkeydown = function(event) {
   if (event.keyCode === 66) {
      alert("Key 66 B pressed.");
   }
   if (event.keyCode === 97) {
      alert("Key 97 a pressed.");
   }
   if(event.keyCode == 122) {
	event.preventDefault()
	console.log('F11 was pressed');
      alert("Key F11  pressed.");
	} 
};
</script>
